* {
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body, h1, h2, ul, h3, p, h4 {
	margin: 0;
}

.public-page {
	width: 1400px;
	margin: 0 auto;
}

.public-page img {
	display: block;
}

.public-page h1, .public-page .public-footer {
	background: #000;
	color: #fff;
	text-align: center;
	line-height: 90px;
	font-size: 52px;
	font-weight: 400;
}

.public-page ul {
	list-style-type: none;
	padding: 0;
}

.public-page h2 {
	width: 180px;
	border-bottom: 2px solid #ad2e00;
	padding-bottom: px;
	margin-bottom: 10px;
}

.public-page a {
	text-decoration: none;
	color: #111;
}

.public-page ul li a.active, .public-page ul li a:hover {
	color: #ff1100;
	border-bottom: 2px solid #EA3323;
	padding-bottom: 5px;
}

.public-page .public-main {
	display: flex;
	background: #D1DCFC;
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 100px;
}

.public-page .public-main .public-nav {
	width: 257px;
	background: #D9D9D9;
	line-height: 40px;
	padding: 20px;
}

.public-page .public-main .public-nav ul {
	line-height: 50px;
}

.public-page .public-main .public-content {
	line-height: 30px;
}

.public-page .public-main .public-content h3 {
	font-size: 21px;
	padding-bottom: 30px;
}

.public-page .public-main .public-content .public-list {
	width: 983px;
	grid-template-columns: 1fr 1fr;
	color: #2d2a2a;
	display: grid;
	gap: 100px;
}

.public-page .public-main .public-content ul li {
	text-align: justify;
	margin-bottom: 30px;
}

.public-page .public-main .public-content .public-list ul li b {
	color: #bf6565;
	cursor: pointer;
}

.public-page .public-main .public-content .public-list ul li b:hover{
	color: #235e7b;
}

.public-page .public-main .public-content .public-list ul li div b {
	color: #7b2f14;
	font-family: fangsong;
	font-size: 18px;
	line-height: 10px;
	cursor: pointer;
}

.public-page .public-main .public-content .public-list ul li div b:hover {
	color: #077b0c;
}

.public-page .public-main .public-content .public-list span {
	color: #515c62;
	font-weight: 900;
	cursor: pointer;
}

.public-page .public-main .public-content .public-list span:hover {
	color: #073d37;
}

.public-page .public-main .public-content .public-list small {
	color: #339cd5;
	font-size: 16px;
	cursor: pointer;
}

.public-page .public-main .public-content .public-list small:hover {
	color: #4f5607;
}

.public-page .public-main .public-content .public-list strong {
	color: #87009e;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
}

.public-page .public-main .public-content .public-list strong:hover {
	color: #4c0059;
}
