
body {
    font-family: Gill Sans, sans-serif;
     margin: 0;
    padding: 0;
     background-color: #06958abd;
    color: #004b28;
}

header {
    background-color: #108f14; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(94, 255, 116, 0.2); 
    padding: 20px;
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    font-size: 1.8rem; 
    position: relative; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

main {
    display: flex;
    margin-bottom: 60px
}

.main-header {
    text-align: center;
    margin-bottom: 40px;
}

.main-header h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 3em;
  color: #222222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.quote-container {
  max-width: 800px;
  margin: auto;
}

.quote-box {
  background-color: #ffffff;
  border: 2px solid #d3d3d3;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.speaker {
  font-weight: bold;
  font-size: 1.2em;
  color: #333333;
  margin-bottom: 5px;
}

.quote {
  font-size: 1em;
  color: #555555;
  margin-left: 20px;
}

.inhuman-voice {
  font-style: italic;
  color: #ff0000;
}
