.public-content ul li h4 {
	font-size: 18px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.public-content ul li .item {
	padding-bottom: 50px;
}

.public-content ul li img {
	width: 441.5px;
	margin-top: 20px;
}
