header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

h1, h2 {
    font-weight: 300; /* Light weight */
}

.cast img {
    width: 100%;
}

.cast ul li {
    width: 25%;
}

.shows > li {
    border-top: 1px solid black;
}

nav .selected a {
    font-weight: bold;
    color: black;
}

.cast ul li div:first-child {
    font-weight: bold;
    font-size: 0.8rem;
}

.cast ul li div:last-child {
    font-style: italic;
}

#game-of-thrones .seasons ul li:last-child::after {
    content: ' *';
}

#game-of-thrones .seasons + .final-season-text {
    font-size: 0.7rem;
    color: #999;
}
